
<p>
  <strong>Auteur mystérieux et anonyme:</strong>
  <%= @gossip.anonymous_author %>
</p>

<p>
  <strong>Incroyable mind-blowing gossip : </strong>
  <%= @gossip.content %>
</p>

<%= link_to 'Back', gossips_path %>
